/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*

    COLORS:

    Orange: #C1593D;
    Off White: #F5F3EF;
    Light Brown: #BEA379;
    Off Black: #22211D;
    Grey: #A1988B;
    Grey text: #857A6A;

*/



/* ==========================================================================
   Base Styles
   ========================================================================== */
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    height: 100%;
}


body {
    font-family: "ff-tisa-web-pro",serif;
    -webkit-font-smoothing: antialiased;
    color: #857A6A;
    height: 100%;
}

main {
    max-width: 1000px; /*Same for footer p*/
    margin: 0 auto;
}


/* ==========================================================================
   Type
   ========================================================================== */


h1, h2, h3 {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    color: #BEA379;
    font-weight: 300;
    letter-spacing: .15em;
    margin-bottom: .3rem;
}

h2 {
    font-size: 0.786em;
    color: #C1593D;
    letter-spacing: .18em;
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 1rem;
}


a{
    color: #C1593D;
}

a:hover {
    color: #AD5036;
}

/* ==========================================================================
   Form
   ========================================================================== */

button {
    font-family: "futura-pt", sans-serif;
    font-weight: bold;
    background-color: #C1593D;
    color: #fff;
    border: none;
    padding: 0 20px;
    line-height: 45px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .15em;
    margin-top: 1em;
}

label {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    font-size: .82rem;
    letter-spacing: 0.15em;
    margin-bottom: 0.5rem;
}

textarea,
input {
    border: 1px solid #A2988A;
    background-color: #fff;
    width: 100%;
    margin-bottom: 1rem;
}

input {
    height: 30px;
}

textarea {
    resize: none;
}




/* ==========================================================================
   Grid
   ========================================================================== */
section {
    margin-top: 4.5rem;
}

section header {
    margin-bottom: 4rem;
}

/* ==========================================================================
   Header
   ========================================================================== */
.page-header {
    height: 100%;
}

.page-header h1 {
    font-family: "lust", serif;
    text-transform: none;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: normal;
}

.page-header h2 {
    font-size: 1.5rem;
}

.text-wrapper {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}


/* ==========================================================================
   Navigation
   ========================================================================== */
nav {
    background-color: #A1988B;
    color: white;
    font-family: "futura-pt", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15em;
}

nav li {
    display: inline-block;
}

nav a {
    color: white;
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
    background-color: #A1988B;
    color: #fff;
    padding: 1rem 0;
    margin-top: 4.5rem;
}

footer p {
    max-width: 1000px; /*Same for main*/
    margin: 0 auto;
}


/* ==========================================================================
   Slider
   ========================================================================== */
.cbp-fwslider {
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 40px 0 80px;
}

.cbp-fwslider ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
}

.cbp-fwslider ul li {
    transform: translateZ(0);
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
    display: block;
    text-align: center;
    outline: none;
}

.cbp-fwslider ul li > a img {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 75%;
}

.cbp-fwslider nav span {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #BEA379;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: -50px;
    line-height: 40px;
    cursor: pointer;
    font-weight: normal;
    transition: background .3s ease-in-out;
}

.cbp-fwslider nav span:hover {
    background: #AB926C;
}

.cbp-fwslider nav span.cbp-fwnext {
    right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
    left: 0px;
}

.cbp-fwdots {
    position: absolute;
    bottom: 0px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.cbp-fwdots span {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #857A6A;
    margin: 4px;
    cursor: pointer;
    font-family: "futura-pt", sans-serif;
    font-weight: bold;
    font-size: 0.786em;
    transition: all 0.3s ease-in-out;
}

.cbp-fwdots span:hover {
    background: #F5F3EF;
}

.cbp-fwdots span.cbp-fwcurrent {
    background: #F5F3EF;
    color: #C1593D;

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
