/* ==========================================================================
  Colors
============================================================================= */
$orange: #C1593D;
$grey: #A1988B;
$lightGrey: #F5F3EF;
$lightBrown: #BEA379;
$offBlack: #22211D;
$primaryText: #857A6A;
$borderColor: #A2988A;
$lightBorderColor: #ebe7df;



/* ==========================================================================
  Fonts
============================================================================= */
$smallCaps: "futura-pt", sans-serif;
$paragraphText: "ff-tisa-web-pro",serif;
$displayText: "lust", serif;