@import 'style.scss';


/* ==========================================================================
Base
========================================================================== */
html {
	font-size: 14px;
	width: 670px;
	border: 1px solid red;
}

.row {
	height: 100%;
}

li {
	list-style: disc;
}




/* ==========================================================================
Page Header
========================================================================== */
.page-header {
	h1 {
		font-family: $pizzazFont;
		font-weight: normal;
		font-size: 3rem;
	}
}


.sidebar {
	@extend %contrastSection;
	padding: 1rem;
	height: 100%;
}

nav {
	display: none;
	padding: 1rem;
	text-align: right;
	border-bottom: 2px solid $calloutText;
	.btn {
		@extend %calloutBtn;
		margin-left: 2rem;
	}
}