@import 'fonts.scss';
@import 'variables.scss';


/* ==========================================================================
FIXES
========================================================================== */

/* Prevent FOUC for Typekit fonts */
.wf-loading {
  font-family: "droid-sans";
  visibility: hidden;
}
.wf-active {
  visibility: visible;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.v-aligned-text {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}



/* ==========================================================================
Base Styles
========================================================================== */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  height: 100%;
  color: $darkText;
  font-family: $paragraphFont;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $calloutText;
  transition: all .3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: darken($calloutText, 10%);
  }
}

h1, h2, h3, h4 {
  margin-top: 0;
}


/* ==========================================================================
Header
========================================================================== */
.page-header {
  height: 100%;
  padding: 1rem 5rem;
  h1 {
    color: $calloutText;
    font-family: $pizzazFont;
    font-size: 10vw;
    font-weight: normal;
    margin-bottom: 0;
  }
  h2 {
    @extend %smallCaps;
    font-weight: normal;
    font-size: 1rem;
  }
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
  }
}

/* ==========================================================================
Nav
========================================================================== */
.page-header nav {
  a {
    @extend %smallCaps;
    padding: 1rem 5vw;
  }


}



/* ==========================================================================
Base Styles
========================================================================== */
img {
  max-width: 100%;
}

/* ==========================================================================
Section
========================================================================== */
section {
  text-align: center;
  padding: 6rem 2rem;
  header h2 {
    font-weight: normal;
    font-size: 2.7rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.2;
    margin-bottom: 2rem;

  }
  h1 {
    @extend %smallCaps;
    color: $calloutText;
    margin-bottom: 3rem;
    font-size: 1rem;
  }
}

/* ==========================================================================
About
========================================================================== */
.about {
  @extend %superLightSection;
  li {
    border: $darkBorder;
    border-bottom: none;
    padding: 1rem;
    &:last-of-type {
      border-bottom: 2px solid $darkText;
    }
  }
}


/* ==========================================================================
Build
========================================================================== */
.build .row:not(:first-of-type) {
  display: flex;
  overflow: hidden;
}


.work-item {
  flex: 1;
  padding: 0 0 5rem;
  margin: 0 4rem 1.2rem;
  position: relative;
  h3 {
    @extend %smallCaps;
  }
  img {
    width: 100%;
    margin: 0 auto 1.5rem;
  }

  .btn {
    margin-top: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  p {
    text-align: justify;
    margin: 0 auto 1rem;
  }
}

#build > .row:nth-of-type(2) .work-item{
  margin-bottom: 4rem;
}

/* ==========================================================================
Teach
========================================================================== */
.teach {
  @extend %calloutSection;
}

blockquote {
  margin: 0;
  padding: 0 1rem;
  text-align: justify;
  footer {
    @extend %smallCaps;

  }
}


/* ==========================================================================
Closing Section
========================================================================== */
.closing-section {
  @extend %superLightSection;
  img {
    width: 15%;
    margin-bottom: 1rem;
  }
  // h2 {
  //   font-family: $pizzazFont;
  //   font-weight: normal;
  //   font-size: 5vw;
  //   width: 40%;
  //   line-height: 1.2;
  //   margin: 0 auto 2rem;
  // }
  a {
    @extend %darkLink;
    font-size: 1.6rem;
    padding: 0 .4rem;
  }
}




/* ==========================================================================
Forms
========================================================================== */
input,
textarea {
  @extend %smallCaps;
  display: block;
  width: 100%;
  border: $darkBorder;
  padding: 1.5rem 2rem;
  &:focus {
    outline: none;
  }
}

input:not(:last-of-type) {
  margin-bottom: 1.8rem;
}

textarea {
  height: 293px;
}

button,
.btn {
  @extend %smallCaps;
  @extend %clickableContrastSection;
  border: none;
  outline: none;
  padding: 1.473rem 3rem;
  transition: all .3s ease-in-out;
  display: inline-block;
  margin-top: 3.5rem;
  i {
    display: inline-block;
    padding-left: 7px;
    font-size: .6rem;
    top: -.05rem;
    position: relative;
  }
  &:focus {
    text-decoration: none;
  }
}


/* ==========================================================================
Footer
========================================================================== */
body > footer {
  @extend %contrastSection;
  padding: .8rem 2rem;
  p {
    margin: 0;
  }
}