@import 'fonts.scss';
@import 'variables.scss';


/* ==========================================================================

KEEPING TRACK OF Z-INDEXES

nav: 100

========================================================================== */



/* ==========================================================================
FIXES
========================================================================== */

/* Prevent FOUC for Typekit fonts */
.wf-loading {
  font-family: "droid-sans";
  visibility: hidden;
}
.wf-active {
  visibility: visible;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.v-aligned-text {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}



/* ==========================================================================
Base Styles
========================================================================== */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  height: 100%;
  color: $darkText;
  font-family: $paragraphFont;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $calloutText;
  transition: all .3s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: darken($calloutText, 10%);
  }
}

h1, h2, h3, h4 {
  margin-top: 0;
}


/* ==========================================================================
Header
========================================================================== */
.page-header {
  height: 100%;
  h1 {
    color: $calloutText;
    font-family: $pizzazFont;
    font-size: 10vw;
    font-weight: normal;
    margin-bottom: 0;
  }
  h2 {
    @extend %smallCaps;
    font-weight: normal;
    font-size: 1rem;
  }
  .v-aligned-text {
    padding: 1rem 5rem;
  }
}

/* ==========================================================================
Nav
========================================================================== */
nav {
  z-index: 100;
  transition: all .3s ease-in-out;
  a {
    @extend %smallCaps;
    padding: 1.39rem 5vw;
    display: block;
  }
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
  }
}

.stick-sticky-stuck {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}



/* ==========================================================================
Base Styles
========================================================================== */
img {
  max-width: 100%;
}


/* ==========================================================================
Section
========================================================================== */
section {
  text-align: center;
  padding: 6rem 2rem;
  header h2 {
    font-weight: normal;
    font-size: 2.7rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.2;
    margin-bottom: 2rem;

  }
  h1 {
    @extend %smallCaps;
    color: $calloutText;
    margin-bottom: 4rem;
    font-size: 1rem;
  }
}

/* ==========================================================================
About
========================================================================== */
.about {
  @extend %superLightSection;
  li {
    border: $darkBorder;
    border-bottom: none;
    padding: 1rem;
    &:last-of-type {
      border-bottom: 2px solid $darkText;
    }
  }
}


/* ==========================================================================
Build
========================================================================== */
.build .row:not(:first-of-type) {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}


.work-item {
  width: (100% / 3);
  padding: 0 15px 5rem;
  margin: 0 0 4rem;
  position: relative;
  h3 {
    @extend %smallCaps;
    font-size: 1rem;
    margin-bottom: .3rem;
  }
  h4 {
    font-weight: normal;
    font-size: 1.05rem;
    font-style: italic;
    margin-bottom: .8rem;
  }
  img {
    width: 100%;
    margin: 0 auto 1.5rem;
  }

  .btn {
    margin-top: 0;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
  }
  p {
    text-align: justify;
    margin: 0 auto .6rem;
  }
  &:nth-of-type(n+4) {
    margin-bottom: 0;
  }
}


/* ==========================================================================
Teach
========================================================================== */
.teach {
  @extend %calloutSection;
}

blockquote {
  margin: 112px 0 0;
  padding: 0 1rem;
  text-align: justify;
  position: relative;
  footer {
    @extend %smallCaps;
  }
  &:before {
    content: "\201C";
    font-size: 100px;
    position: absolute;
    top: -130px;
    font-family: lust;
    background-color: #FFF;
    color: #DBBE9C;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    line-height: 160px;
    text-align: center;
    display: block;
  }
}


/* ==========================================================================
Forms
========================================================================== */
input,
textarea {
  @extend %smallCaps;
  display: block;
  width: 100%;
  border: $darkBorder;
  padding: 1.5rem 2rem;
  &:focus {
    outline: none;
  }
}

input:not(:last-of-type) {
  margin-bottom: 1.8rem;
}

textarea {
  height: 293px;
}

button,
.btn,
.btn:focus,
.btn:active {
  @extend %smallCaps;
  @extend %clickableContrastSection;
  border: none;
  outline: none;
  padding: 1.2rem 3rem;
  transition: all .3s ease-in-out;
  display: inline-block;
  margin-top: 5rem;
  i {
    display: inline-block;
    padding-left: 7px;
    font-size: .6rem;
    top: -.05rem;
    position: relative;
  }
  &:focus {
    text-decoration: none;
  }
}


/* ==========================================================================
Footer
========================================================================== */
body > footer {
  @extend %contrastSection;
  padding: .8rem 2rem;
  p {
    @extend %smallCaps;
    margin: 0;
  }
  p:not(.footer-links) {
    line-height: 3;
  }
  .footer-links {
    text-align: right;
  }
  a {
    @extend %whiteLink;
    margin-left: .2rem;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1400px) {
  .row {
    max-width: 1400px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 991px) {
  input:last-of-type {
    margin-bottom: 1.8rem;
  }

  blockquote {
    margin: 0 0 3rem;
  }

  blockquote:last-of-type  {
    margin-bottom: 0;
  }

  blockquote:first-of-type {
    margin-top: 11rem;
  }

  blockquote:nth-of-type(n+2) {
    &:before {
      display: none;
    }
  }

  .work-item {
    width: 50%;
    &:nth-of-type(-n+4) {
      margin: 0 0 4rem;
    }
  }



}


@media only screen and (max-width: 768px) {
  .page-header .v-aligned-text {
    padding: 1rem 15px;
    text-align: center;
  }

  .page-header h1 {
    font-size: 12vw;
  }

  section {
    padding: 5rem 1rem;
  }

  body > footer p,
  body > footer .footer-links {
    text-align: center;
  }

  .about .col-sm-6:first-of-type li {
    border-bottom: none;
  }

  section header h2 {
    font-size: 2rem;
  }

  button,
  .btn {
    padding: 1.2rem 0;
    width: 100%;
  }

  input {
    margin-bottom: 1.2rem !important;
  }

  form button {
    margin-top: 3rem;
  }

}


@media only screen and (max-width: 621px) {
  .work-item {
    width: 100%;
    &:nth-of-type(-n+5) {
      margin: 0 0 3rem;
    }
  }


}